@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #9B59B6, #8E44AD);
  background: -moz-linear-gradient(right, #9B59B6, #8E44AD);
  background: -o-linear-gradient(right, #9B59B6, #8E44AD);
  background: linear-gradient(to left, #9B59B6, #8E44AD);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
