@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #9B59B6, #8E44AD);
  background: -moz-linear-gradient(right, #9B59B6, #8E44AD);
  background: -o-linear-gradient(right, #9B59B6, #8E44AD);
  background: linear-gradient(to left, #9B59B6, #8E44AD);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  position: relative;
  max-width: 100%;
  text-align: center;
}
form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box !important;
  font-size: 14px;
}
form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #9B59B6;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

form button:hover, form button:active, form button:focus {
  background: #FFFFFF;
}
